* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
section {
  width: 400px;
  height: 550px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(162, 163, 164);
  border: 0.1px solid aliceblue;
  border-radius: 40px;
  background-blend-mode: lighten;
  align-items: center;
  margin: auto;
  gap: 40px;
}
.img {
  width: 300px;
  height: 330px;
  box-shadow:  2px 4px 4px 4px rgb(80, 79, 79);
  border-radius: 10px;
  background-image: url(https://images.unsplash.com/photo-1719253539799-78d43c1e8650?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyN3x8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

h1 {
  font-size: 20px;
}

.main {
  width: 300px;
  height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 450px;
  background-color: white;
  /* gap: 20px; */
  border: 0.1px solid white;
  border-radius: 20px;
  /* padding-right: 40px; */
  box-shadow:  2px 4px 4px 4px rgb(123, 122, 122);
}
.bbtn {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.durationline {
  width: 270px;
  height: 5px;
  border-top: 2px solid black;
  margin-top: 10px;

}
button {
  width: 29px;
  height: 25px;
  background-color: white;
  border: 0.1px solid white;
}

.hide {
  display: none;
}
.fa-bluetooth-b {
color: gray;
padding-left: 40px;
}